<div class="modal-header">
    <h5 class="modal-title">Logout</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModel()"></button>
</div>

<div class="modal-body">
    <p>Are you sure, you want to logout ?</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
</div>